data/nov04.txt
data/nov06.txt
data/nov11.txt
data/nov13.txt
data/nov18.txt
data/nov20.txt
data/nov27.txt
data/oct02.txt
data/oct07.txt
data/oct10.txt
data/oct23.txt
data/oct28.txt
data/oct30.txt
data/sept11.txt
data/sept16.txt
data/sept23.txt
data/sept25.txt
data/sept30.txt